<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/jumbotron-narrow.css">
    <link rel="search" href="{{ app.request.basepath }}/opensearch.xml" type="application/opensearchdescription+xml" title="Moodle Packagist">
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ app.request.getSchemeAndHttpHost() }}">Home</a></li>
                    <li role="presentation"><a href="{{ app.request.getSchemeAndHttpHost() }}#about">About</a></li>
                    <li role="presentation"><a href="{{ app.request.getSchemeAndHttpHost() }}#contact">Contact</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Moodle Packagist</h3>
        </div>
          {% block content %}{% endblock %}

          {% include 'footer.twig' %}
      </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/assets/js/main.js"></script>
    <script>

    </script>
</body>
</html>
