<div class="jumbotron">
{{ form_start(searchForm, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-group">
        {{ form_widget(searchForm.q, {'required': false, 'attr': {'autofocus': 'true', 'class': 'form-control'}}) }}
        {{ form_widget(searchForm.moodle_version, {'attr': { 'class': 'form-control'}}) }}
    </div>
    {{ form_widget(searchForm.search, { 'label': 'Search »','attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(searchForm) }}
</div>
